.centertext
  h2(data-text="Demoboxes") Demoboxes
div(class="o-row@tablet o-row--between@tablet o-row--vertical-align")
  div.c-box(class="o-row__col-1/2@tablet o-row__col-1/3@desktop")
    +introbox(
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
      'Negabat igitur ullam esse artem, quae ipsa a se proficisceretur; Habes, inquam, Cato, formam eorum, de quibus loquor, philosophorum. Non est igitur voluptas bonum. Cuius quidem, quoniam Stoicus fuit, sententia condemnata mihi videtur esse inanitas ista verborum. Duo Reges: constructio interrete. Ubi ut eam caperet aut quando? Naturales divitias dixit parabiles esse, quod parvo esset natura contenta.'
    )
  div.c-box(class="o-row__col-1/2@tablet o-row__col-1/3@desktop")
    +introbox(
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
      'Negabat igitur ullam esse artem, quae ipsa a se proficisceretur; Habes, inquam, Cato, formam eorum, de quibus loquor, philosophorum. Non est igitur voluptas bonum. Cuius quidem, quoniam Stoicus fuit, sententia condemnata mihi videtur esse inanitas ista verborum. Duo Reges: constructio interrete. Ubi ut eam caperet aut quando? Naturales divitias dixit parabiles esse, quod parvo esset natura contenta.'
    )
  div.c-box(class="o-row__col-1/2@tablet o-row__col-1/3@desktop")
    +introbox(
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
      'Negabat igitur ullam esse artem, quae ipsa a se proficisceretur; Habes, inquam, Cato, formam eorum, de quibus loquor, philosophorum. Non est igitur voluptas bonum. Cuius quidem, quoniam Stoicus fuit, sententia condemnata mihi videtur esse inanitas ista verborum. Duo Reges: constructio interrete. Ubi ut eam caperet aut quando? Naturales divitias dixit parabiles esse, quod parvo esset natura contenta.'
    )
  div.c-box(class="o-row__col-1/2@tablet o-row__col-2/3@desktop")
    +introbox(
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
      'Negabat igitur ullam esse artem, quae ipsa a se proficisceretur; Habes, inquam, Cato, formam eorum, de quibus loquor, philosophorum. Non est igitur voluptas bonum. Cuius quidem, quoniam Stoicus fuit, sententia condemnata mihi videtur esse inanitas ista verborum. Duo Reges: constructio interrete. Ubi ut eam caperet aut quando? Naturales divitias dixit parabiles esse, quod parvo esset natura contenta.'
    )
  div.c-box(class="o-row__col-full@tablet o-row__col-1/3@desktop")
    +introbox(
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
      'Negabat igitur ullam esse artem, quae ipsa a se proficisceretur; Habes, inquam, Cato, formam eorum, de quibus loquor, philosophorum. Non est igitur voluptas bonum. Cuius quidem, quoniam Stoicus fuit, sententia condemnata mihi videtur esse inanitas ista verborum. Duo Reges: constructio interrete. Ubi ut eam caperet aut quando? Naturales divitias dixit parabiles esse, quod parvo esset natura contenta.'
    )
