.npm-icons
  a(href="https://npmjs.org/package/grid-scheibo")
    img(src="https://badge.fury.io/js/grid-scheibo.svg?style=flat", alt="npm version")
  =" "
  a(href="https://github.com/scheibome/grid-scheibo/issues")
    img(src="https://img.shields.io/github/issues/scheibome/grid-scheibo.svg", alt="npm version")
  =" "
  img(src="https://img.shields.io/npm/dt/grid-scheibo.svg")
  =" "
  img(src="https://img.shields.io/npm/l/grid-scheibo.svg")
