section.py-6.bg-light
  .container
    .o-row.o-row--justify-center
      .text-center(class="o-row__col-2/3")
        h2.mb-5.text-primary#install(data-text="Install") Install
      div(class="o-row__col-2/3")
        pre
          code.console
            | npm i grid-scheibo

      .text-center(class="o-row__col-2/3")
        h2.mt-6.mb-5.text-primary#usage(data-text="Usage") Usage
      div(class="o-row__col-2/3")
        pre
          code.scss
            | // Grid with CSS Grid
            | @use '../node_modules/grid-scheibo/source/variables';
            | @use '../node_modules/grid-scheibo/source/cssgrid-scheibo';
            |
            | // Grid with Flexbox
            | @use '../node_modules/grid-scheibo/source/variables';
            | @use '../node_modules/grid-scheibo/source/grid-scheibo';
            |
            | // Order for Grid
            | @use '../node_modules/grid-scheibo/source/variables';
            | @use '../node_modules/grid-scheibo/source/grid-order-scheibo';
            |
            | // Align content for Flexbox
            | @use '../node_modules/grid-scheibo/source/variables';
            | @use '../node_modules/grid-scheibo/source/grid-align-content-scheibo';

      .text-center(class="o-row__col-2/3")
        h2.mt-6.text-primary#advancedusage(data-text="Advanced Usage") Advanced Usage
        p.mb-5 Insert your settings before the import
      div(class="o-row__col-2/3")
        pre
          code.scss
            | // include the variables and mixins from CSS-Scheibo
            | @use '../../../node_modules/grid-scheibo/source/variables' as *;
            | @use '../../../node_modules/grid-scheibo/source/mixins' as gridmixins;
            |
            | // add own gutter size
            | $col-gutter-size: 2rem;
            |
            | // your grid with CSS-Grid
            | $grid-setup: (
            | '12cols': 'repeat(12, 1fr)',
            | '1-1': '1fr 1fr',
            | '1-1-1': '1fr 1fr 1fr',
            | '1-2-1': '1fr 2fr'
            | );
            |
            | // your grid with flexbox
            | $col-widths: (
            |   '1\\/8': '1/8',
            |   '2\\/8': '2/8',
            |   '3\\/8': '3/8',
            |   '4\\/8': '4/8',
            |   '5\\/8': '5/8',
            |   '6\\/8': '6/8',
            |   '7\\/8': '7/8',
            |   'full': 100%
            | );
            |
            | // your breaks
            | $col-grid-breaks: (
            |   tablet: '900px',
            |   desktop: '1024px',
            |   wide: '1400px'
            | );
            |
            | // for using CSS-Grid
            | .o-grid {
            |   @include gridmixins.css-grid-scheibo($col-gutter-size, $grid-setup, $col-grid-breaks);
            | }
            |
            | // for using Flexbox
            | .o-row {
            |   @include gridmixins.grid-scheibo(variables.$col-gutter-size, variables.$col-widths, variables.$col-grid-breaks);
            | }

      .text-center(class="o-row__col-2/3")
        h2.mt-6.text-primary#personalize(data-text="Personalize") Personalize
        p.mb-5 Set your own classname
      div(class="o-row__col-2/3")
        pre
          code.scss
            | // include the variables and mixins from CSS-Scheibo
            | @use '../../../node_modules/grid-scheibo/source/variables' as *;
            | @use '../../../node_modules/grid-scheibo/source/mixins' as gridmixins;
            |
            | // set your own classname for css-grid
            | .yourownclassname {
            |   @include gridmixins.css-grid-scheibo($col-gutter-size, $grid-setup, $col-grid-breaks);
            | }
            |
            | // set your own classname for css-grid without offset
            | .yourownclassname {
            |   @include gridmixins.css-grid-scheibo-base($col-gutter-size, $grid-setup, $col-grid-breaks);
            | }
            |
            | // set your own classname for flexbox-grid
            | .yourownclassname {
            |   @include gridmixins.grid-scheibo($col-gutter-size, $col-widths, $col-grid-breaks);
            | }
