mixin navlink(title, target)
  a.text-decoration-none.mx-2.text-light(href=target) #{title}

nav.py-4.bg-primary.text-center
  .container.px-xl-0
    +navlink('Install', '#install')
    +navlink('Usage', '#usage')
    +navlink('Advanced', '#advancedusage')
    +navlink('Personalize', '#personalize')
    +navlink('Examples', '#examples')
