div(class="o-row o-row--between o-row--vertical-align")
  +column(['1/2', '1/3@tablet', '1/4@desktop'])
  +column(['1/2', '1/3@tablet', '1/4@desktop'])
  +column(['1/2', '1/3@tablet', '1/4@desktop'])
  +column(['1/2', 'full@tablet', '1/4@desktop'])
div(class="o-row@tablet o-row--between@tablet o-row--vertical-align")
  +column(['1/2@tablet', '1/5@desktop'])
  +column(['1/2@tablet', '1/5@desktop'])
  +column(['1/3@tablet', '1/5@desktop'])
  +column(['1/3@tablet', '1/5@desktop'])
  +column(['1/3@tablet', '1/5@desktop'])
  +column(['3/4@tablet'])
  +column(['1/4@tablet'])
  +column(['1/4@tablet'])
  +column(['3/4@tablet'])
  +column(['2/5@tablet'])
  +column(['3/5@tablet'])
  +column(['3/5@tablet'])
  +column(['2/5@tablet'])
div(class="o-row@400 o-row--between@400 o-row--vertical-align")
  +column(['1/2@400', 'full@desktop'])
  +column(['1/2@400', 'full@desktop'])
  +column(['1/3@400', '1/6@desktop'])
  +column(['1/3@400', '1/6@desktop'])
  +column(['1/3@400', '1/6@desktop'])
  +column(['1/3@400', '1/6@desktop'])
  +column(['1/3@400', '1/6@desktop'])
  +column(['1/3@400', '1/6@desktop'])
