$col-gutter-size: 16px !default;
$grid-tablet: 768px !default;
$grid-desktop: 1024px !default;

$col-widths: () !default;
$col-widths-defaults: (
  '1\\/2': '1/2',
  '1\\/3': '1/3',
  '2\\/3': '2/3',
  '1\\/4': '1/4',
  '3\\/4': '3/4',
  '1\\/5': '1/5',
  '2\\/5': '2/5',
  '3\\/5': '3/5',
  '4\\/5': '4/5',
  '1\\/6': '1/6',
  '2\\/6': '2/6',
  '3\\/6': '3/6',
  '4\\/6': '4/6',
  '5\\/6': '5/6',
  'full': 100%
) !default;
$col-widths: map_merge($col-widths-defaults, $col-widths);


$grid-setup: () !default;
$grid-setup-defaults: (
  '1-1': '1fr 1fr',
  '1-1-1': '1fr 1fr 1fr',
  '1-2-1': '1fr 2fr 1fr'
) !default;
$grid-setup: map_merge($grid-setup-defaults, $grid-setup);


$col-grid-breaks: () !default;
$col-grid-breaks-defaults: (
  400: '400px',
  tablet: $grid-tablet,
  desktop: $grid-desktop
) !default;
$col-grid-breaks: map_merge($col-grid-breaks-defaults, $col-grid-breaks);
