$base_font_size: 16px;
$base_line_height: 26px;
$font_heading: DM Sans;
$font_main: DM Sans;
$font_heading_weight: 700;
$font_main_weight: 400;
$retina: "(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)";

$thin:100;
$extralight:200;
$light:300;
$normal:400;
$medium:500;
$semibold:600;
$bold:700;
$extrabold:800;
$heavy:900;

$action_1: #25DAC5;
$action_2: #482BE7;
$action_3: #E93A7D;
$color_main: #175883;
$color_heading: #919DAB;
$color_white: #FFFFFF;
$color_gray: #EBEAED;
$bg_dark: #175883;
$bg_light: #FFFFFF;

$color_red: #EA3223;
$color_red_hover: #E10000;
$color_green: #18C967;
$color_green_hover: #0CB658;
$color_facebook: #2E4DA7;
$color_twitter: #0AA0F5;
$color_dribbble: #E93A7D;
