@use 'sass:map';

$col-gutter-size: 16px !default;
$grid-tablet: 768px !default;
$grid-desktop: 1024px !default;

// Col-Widths
$col-widths-defaults: (
  '1\\/2': '1/2',
  '1\\/3': '1/3',
  '2\\/3': '2/3',
  '1\\/4': '1/4',
  '3\\/4': '3/4',
  '1\\/5': '1/5',
  '2\\/5': '2/5',
  '3\\/5': '3/5',
  '4\\/5': '4/5',
  '1\\/6': '1/6',
  '2\\/6': '2/6',
  '3\\/6': '3/6',
  '4\\/6': '4/6',
  '5\\/6': '5/6',
  'full': 100%
) !default;
$col-widths: $col-widths-defaults !default;

// Grid Setup
$grid-setup-defaults: (
  '12cols': 'repeat(12, 1fr)',
  '1-1': '1fr 1fr',
  '1-1-1': '1fr 1fr 1fr',
  '1-2-1': '1fr 2fr 1fr'
) !default;
$grid-setup: $grid-setup-defaults !default;

// Grid Column Breaks
$col-grid-breaks-defaults: (
  400: '400px',
  tablet: $grid-tablet,
  desktop: $grid-desktop
) !default;
$col-grid-breaks: $col-grid-breaks-defaults !default;
