@import 'variables';
@import 'variables_demo';
@import 'framework';
@import 'layout';

.demoitem {
  background-color: $action_3;
  border: 1px solid $color_main;
  color: $bg_light;
  text-align: center;
  overflow: hidden;
}

.github-corner {
  svg {
    fill: $action_3;
    color: $bg_light;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
    z-index: 1;
  }
}

.octo-arm {
  transform-origin: 130px 106px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0)
  }
  20%, 60% {
    transform: rotate(-25deg)
  }
  40%, 80% {
    transform: rotate(10deg)
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}
