@use 'sass:map';
@use 'variables';
@import '../node_modules/bootstrap/scss/functions';

$col-widths: (
  '1\\/12': '1/12',
);
$col-widths: map.merge(variables.$col-widths-defaults, $col-widths);

@import 'cssgrid-scheibo';
@import 'grid-scheibo';
@import 'grid-order-scheibo';
@import 'grid-align-content-scheibo';

// Default variable overrides
$primary: #175883;
$secondary: #E93A7D;
$h1-font-size: 4rem;
$h2-font-size: 3rem;

@import '../node_modules/bootstrap/scss/variables';

$custom-spacers: (
  6: $spacer * 5,
  7: $spacer * 6,
);
$spacers: map.merge($spacers, $custom-spacers);


// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/root';

// 6. Optionally include any other parts as needed
@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/helpers';

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import '../node_modules/bootstrap/scss/utilities/api';

.demoitem {
  background-color: $secondary;
  border: 1px solid $primary;
  color: white;
  text-align: center;
  overflow: hidden;
}

.github-corner {

  svg {
    fill: $secondary;
    color: white;
    position: absolute;
    inset-block-start: 0;
    border: 0;
    inset-inline-end: 0;
    z-index: 1;
  }
}

.octo-arm {
  transform-origin: 130px 106px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (width <= 500px) {

  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
