@import "normalize";
@import "variables";
@import "grid-scheibo";

$color-primary: #3498DB;
$alizarin: #DE2439;
$selectiveyellow: #F6B10B;
$springbud: #BAD500;
$kellygreen: #1BB934;
$texas: #E7EB90;
$gainsboro: #E0E0E0;


// Additional CSS
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: arial, sans-serif;
  font-size: 16px;
  // background-color: black;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  margin: 3rem auto;
  text-align: center;
  position: relative;
  max-width: 800px;
  font-size: 3rem;
  color: rgba(0,0,255,0.5);

  &:after {
    content: "Grid-Scheibo - a simple scss grid based on flexbox";
    position: absolute;
    left: 0.1em;
    top: 0.1em;
    color: rgba(255,0,0,0.5);
  }
}

[class^="o-row"] {
  // border: 1px solid red;
}

[class^="o-row__"] {
  background-color: yellow;
  text-align: center;
  border: 1px solid red;
}

.container {
  margin: auto;
  max-width: 1600px;
}
