@import "normalize";
@import "variables";
@import "grid-scheibo";
@import "intro";

$color-primary: #3498DB;
$springbud: #BAD500;


// Additional CSS
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 1rem;
  font-family: arial, sans-serif;
  font-size: 16px;
  background-color: black;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2 {
  margin: 3rem auto;
  text-align: center;
  max-width: 800px;
  font-size: 3rem;
  color: $color-primary;
}

h2 {
  font-size: 2.5rem;
}

[data-text] {
  display: inline-block;
  position: relative;

  &:after {
    content: attr(data-text);
    position: absolute;
    left: 0.1em;
    top: 0.1em;
    color: rgba(255,0,0,0.5);
    z-index: -1;
  }
}

.centertext {
  text-align: center;
  padding: 0 2rem;
}

[class^="o-row"] {
  // border: 1px solid red;
}

[class^="o-row__"] {
  background-color: $springbud;
  text-align: center;
  overflow: hidden;
}

.container {
  margin: auto;
  max-width: 1600px;
}

.npm-icons {
  margin: 0 auto 2rem auto;
  max-width: 800px;
  text-align: center;
}
