include pug/mixins
include pug/examples

doctype html
html
  head
    meta(charset='utf-8')
    title Grid-Scheibo - A Simple SCSS Grid Based on CSS-Grid or Flexbox
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='i/favicon.png', type='image/x-icon')
    link(rel="stylesheet", href="demo.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/a11y-dark.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js")
    script.
      hljs.initHighlightingOnLoad()
  body
    include pug/forkedge
    include pug/navigation
    section.py-6
      .container
        .o-row.o-row--justify-center
          .text-center(class="o-row__col-2/3")
            h1.fs-4.text-secondary(data-text="Grid-Scheibo") Grid-Scheibo
            h2.fs-1.mt-3.text-primary.fw-bold(data-text="A Simple SCSS Grid Based on CSS-Grid or Flexbox") A Simple SCSS Grid Based on<br>CSS-Grid or Flexbox
    section

      .container.pb-6
        include pug/startgrid

      include pug/installation

      section.py-6
        .container
          .o-row.o-row--justify-center
            .text-center(class="o-row__col-2/3")
              h2.mb-5.text-primary#examples(data-text="Examples - Grid with CSS-Grid") Examples - Grid with CSS-Grid
        +codeexamplecssgrid1

      section.py-6.bg-light
        .container
          .o-row.o-row--justify-center
            .text-center(class="o-row__col-2/3")
              h2.mb-5.text-primary#examplesflex(data-text="Examples - Grid with Flexbox") Examples - Grid with Flexbox
        +codeexample1
        +codeexample5
        +codeexample6
        +codeexample2
        +codeexample3
        +codeexample4
