include pug/mixins
include pug/examples

doctype html
html
  head
    title Grid-Scheibo - A Simple SCSS Grid Based on CSS-Grid or Flexbox
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="demo.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/a11y-dark.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js")
    script.
      hljs.initHighlightingOnLoad()
  body
    .centertext
      h1(data-text="Grid-Scheibo") Grid-Scheibo
      h2(data-text="A Simple SCSS Grid Based on CSS-Grid or Flexbox") A Simple SCSS Grid Based on CSS-Grid or Flexbox
    include pug/navigation
    include pug/icons

    .container
      include pug/startgrid

      include pug/installation

      .container
        .centertext
          h2#examples(data-text="Examples - Grid with CSS-Grid") Examples - Grid with CSS-Grid
      +codeexamplecssgrid1
      .container
        .centertext
          h2#examplesflex(data-text="Examples - Grid with Flexbox") Examples - Grid with Flexbox
      +codeexample1
      +codeexample2
      +codeexample3
      +codeexample4

      include pug/demoboxes
